<div class="text-center">
  <h2>Are you sure?</h2>
</div>

<div *ngIf="messageSuccess" class="alert alert-success">
  <p>{{messageSuccess}}</p>
</div>


<div *ngIf="messageError" class="alert alert-danger">
  <p>{{messageError}}</p>
</div>

<label class="col">
  Title:
  <span>{{photo.title}}</span>
</label>
<label class="col">
  Url:
  <span>{{photo.url}}</span>
</label>
<label class="col">
  Thumbnail Url:
  <span>{{photo.thumbnailUrl}}</span>
</label>
<div class="col">
  <button class="btn btn-info" type="submit" (click)="delete()">Delete</button>
</div>
